body{
  font-family: 'Montserrat';
  width: 100%;
  margin: 0;
  padding: 0;
}

.custom-focus:focus {
  border-color: orange;      
  box-shadow: 0 0 0 0.2rem rgba(255, 162, 0, 0.574);
}

.form-check-input {
  border-color: #f97316; 
}
.form-check-input:hover {
  border-color: #ffb84d; 
}

.form-check-input:checked {
  background-color: #f97316;
  border-color: #f97316;
}

.form-check-input:checked:hover {
  background-color: #ffb84d;
  border-color: #ffb84d;
}

.py-6{
  padding-top: 7rem;
  padding-bottom: 2rem;
}

.text-shadow-lg {
  text-shadow:
    0 6px 10px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.10);
}

.text-shadow-orange-500-50 {
  text-shadow:
    0 6px 10px rgba(249, 115, 22, 0.25),
    0 2px 4px rgba(249, 115, 22, 0.15);
}

#framework{
  background-image: url(../img/framework.png);
  background-size: cover;
  border-radius: 20px;
  min-height: 80vh;
}

#mainNav .nav-link.active, #mainNav .nav-link.active:hover{
  color: #000000;
  font-weight: bold;
}

#mainNav .nav-link {
  color: #939393;
}

#mainNav .nav-link:hover {
  color: #727272;
}

.cookie-hidden {
  display: none !important;
}
.cookie-visible {
  display: flex !important;
}

.accordion-button:not(.collapsed) {
  background-color: #ffb347;
  color: #000000;
}

.accordion-button:focus {
  outline: 2px solid #f97316;
  box-shadow: 0 0 0 0.25rem rgba(249, 115, 22, 0.5);
}

.accordion-button:not(.collapsed)::after {
  filter: brightness(0) invert(1);
}

.footer-link {
  color: white;
  text-decoration: none;
  transition: color 0.2s ease;
}

.footer-link:hover {
  color: #bb8d03;
}

@media (max-width: 991px) {
  #framework {
    min-height: 25vh;
  }

  #framework p {
    margin-bottom: 0;
  }
}